PORT=3000
NODE_ENV=development
DATABASE_URL="mysql://entosort_user:entosort_pass@db:3306/db_youuu"
JWT_SECRET=
JWT_EXPIRES_IN=1h
MQTT_HOST=mqtt
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=
WS_PORT=3001