PORT=3000
NODE_ENV=development

DATABASE_URL="
DATABASE_URL="mysql://root:root@localhost:3306/db_you"

JWT_SECRET=ganti_dengan_secret_yang_kuat
JWT_EXPIRES_IN=1h

MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=

WS_PORT=3001